<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" ></script>
</head>
<body>

<h1>Welcome {{username}}</h1>

<a href="/home">Home</a>
<a href="/events">Events</a>
<a href="/logout">Logout</a>

<h2><u>Create an event</u></h2>

<form action="/createEvent/{{category}}/{{keyword}}/{{group_name}}/{{group_id}}" method="POST">

	<input type="text" name = "title" placeholder="title of event" required autofocus /> </br>
	<input type="text" name = "event_description" placeholder="event description" required /> </br>
	<input type="datetime" id = "start_time" name = "start_time" placeholder="start time" required /> </br>
	<input type="datetime" id = "end_time" name = "end_time" placeholder="end time" required /> </br>

	<br> Select a location and zipcode. Previously used locations: <br>

	<style type="text/css"> table, th, td{ border: 1px solid black; } </style>

	<table>
	{% for line in locations %}
		<tr>
			<td> LOCATIONS --> </td>
			<td>{{line.location_name}}</td>
			<td>{{line.description}}</td>
			<td>{{line.address}}</td>
			<td>{{line.zipcode}}</td>
			<td>{{line.latitude}}</td>
			<td>{{line.longitude}}</td>
			<td> <-- LOCATIONS </td>

			<br>
		</tr>
	{% endfor %}
	</table>

	<br>

	<input type="text" name = "event_location" placeholder="location of event" /> </br>
	<input type="number" name = "event_zipcode" placeholder="zipcode" /> </br>

	<br> Don't have a location? Register a location: <br>

	<br>

	<input type="text" name = "location_name" placeholder="location name" /> </br>
	<input type="text" name = "location_description" placeholder="location description" /> </br>
	<input type="text" name = "address" placeholder="address" /> </br>
	<input type="number" name = "latitude" placeholder="latitude" /> </br>
	<input type="number" name = "longitude" placeholder="longitude" /> </br>
	<input type="number" name = "location_zipcode" placeholder="zipcode" /> </br>
	<br>
	<input type="submit" value = submit />
</form>

<script type="text/javascript">
$( document ).ready(function() {
	$('#start_time').val(moment().format('YYYY-MM-DD HH:mm:ss'));
	$('#end_time').val(moment().format('YYYY-MM-DD HH:mm:ss'));
});
</script>

</body>

</html>