<!DOCTYPE html>
<html>
<head>
</head>

<body>

<a href="/login">Login</a>
<a href="/register">Register</a>

<style type="text/css"> table, th, td{ border: 1px solid black; } </style>

<h2><u>Upcoming events in 3 days</u></h2>

<table>
{% for line in upcomingEvents %}
	<tr>
		<td> EVENT INFO --> </td>
		<td>{{line.event_id}}</td>
		<td>{{line.title}}</td>
		<td>{{line.event_description}}</td>
		<td>{{line.start_time}}</td>
		<td>{{line.end_time}}</td>
		<td>{{line.location_name}}</td>
		<td>{{line.zipcode}}</td>
		<td> <-- EVENT INFO </td>

		<td> GROUP INFO --> </td>
		<td>{{line.group_id}}</td>
		<td>{{line.group_name}}</td>
		<td>{{line.group_description}}</td>
		<td>{{line.category}}</td>
		<td>{{line.keyword}}</td>
		<td> <-- GROUP INFO </td>

		<br>
	</tr>
{% endfor %}
</table>

<table>
{% for line in allInterests %}
	<tr>
		<td> INTERESTS --> </td>
		<td><a href="/viewInterestGroup/{{line.category}}/{{line.keyword}}">{{line.category}}</td>
		<td><a href="/viewInterestGroup/{{line.category}}/{{line.keyword}}">{{line.keyword}}</td>
		<td> <-- INTERESTS </td>

		<br>
	</tr>
{% endfor %}
</table>

</body>

</html>
